<div class="row">
    <div class="nav navbar-collapse">

      <p><%= @questionnr.to_s unless nil %></p>

      <div class="">
        <img class="img-responsive center-block" src="<%= @question.question unless nil%>"/>
      </div>
      <br/><br/>
      <div class="col col-lg-2"></div>
      <div name="answerform" class="col col-lg-8">

        <form accept-charset="UTF-8" action="/answer" method="post">
          <input type="text" name="w" class="form-control"><br>
          <input name="hehe" id="curious-mind" type="submit" value="Submit" class="btn-info form-control">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag :questionnr, @questionnr -%>
        </form>

      </div>
    </div>
</div>