<!DOCTYPE html>
<html>
<head>
  <title>Polyphemus</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body class="">

<%= yield %>

</body>
</html>
